<html>
<head>
    <meta name="keywords" content="HTML, CSS, JavaScript, MVC, EntityFramework">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Restoran Otomasyon</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            border: none;
            text-decoration: none;
            text-transform: capitalize;
            transition: 0.2s ease;
        }

         html {
            font-size: 62.5%;
            overflow-x: hidden;
            scroll-padding-top: 9rem;
            scroll-behavior: smooth;
        } 

        .header {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 7%;
            margin: 2rem 7%;
            border-radius: 30rem;
            position: sticky;
            top: 0;
            z-index: 1000;
        }

        body {
            background-color: #e84242;
            height: 200vh;
        }

        .header .navbar a {
            font-size: large;
            margin: 0 1rem;
            font-size: 1.6rem;
            border: none;
            text-decoration: none;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #333;
        }

        .header .buttons button {
            cursor: pointer;
            font-size: 2.5rem;
            margin-left: 2rem;
            background-color: transparent;
        }

            .header .buttons button a {
                margin: 0 1rem;
                font-size: 2.5rem;
                border: none;
                text-decoration: none;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #333;
            }
    </style>

</head>



<body>
    <header class="header">
        <a asp-controller="Home" asp-action="Index" class="logo">
            <i style=" color:#e84242 ;height: 7rem; margin-top:7px" class="fas fa-utensils fa-5x"> </i>
        </a>
        <nav class="navbar">
            <a asp-controller="Employee" asp-action="Login">Çalışan Giriş</a>
            @if (User.IsExecutive())
            {
                   <a asp-area="Executive" asp-controller="Home" asp-action="List">Yönetim Giriş</a> 
            }
       
        </nav>

        

    </header>



    <div>
        @RenderBody()
    </div>
</body>

</html>